// convenience classes

.fourByFour{
	float: left;
	width: 50%;
}

// end convenience classes

.mainWrapper{
	@include outer-container;
	position: relative;
	nav{
		@include fill-parent;
		background: $navBlue;
		padding: 1.2em;
		.navLogo{
			width: 90px;
			margin: 0 auto;
			
			img{
				width: 80px;
				margin-bottom: 1.9em;
			}
		}
		.signUp{
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.pageNav{
			width: 75%;
			padding: 0;
			margin: 0 auto;
			ul{
			text-align: center;
				li{
					display: inline;
					color: white;
					margin: 0 1.5em;
				}
			}
		}
	}
	.heroQuote{
		background: white;
		h1{
			color: gray;
			text-align: center;
			padding: 1.6em 5em;
			font-weight: 100;
			font-size:2.5em;
		}
	}

	.leftMain{
		float: left;
		@include clearfix;
		@include span-columns(8 of 12, block-collapse);
		background: $bodyBlue;
		padding: 2.5em 2em;
		h2{
			font-weight:500;
			width: 70%;
			margin-bottom: 1.3em;
			color: $blueText;
		}
			.topHalf{
				@include clearfix;
				margin-bottom: 4em;
				.leftImage{
					width: 50%
				}
				.rightContent{
					width: 50%;
					padding: .2em 1.7em 0 0;
					p{
						font-size: .9em;
						font-family: 'Arimo', sans-serif;
						font-weight: 400;
						line-height: 1.75em;
					}
				}
				
			}
			.bottomHalf{
				.leftContent{
					width: 50%;
				}
				.rightImage{
					width: 50%;
				}
			}
		.seeMore{
			color: $blueText;
		}
	}	
	.rightSidebar{
		float: left;
		@include clearfix;
		@include span-columns(4 of 12, block-collaps);
		background: $sidebarBlue;
		padding: 2.5em 2em;
	}

}
footer{
	color: white;
	@include outer-container;
	.footerLinks{
		margin: 0 auto;
		width: 50%;
		text-align: center;
			span{
				color: lightblue;
			}
			li{
				display: inline;
			}
			

	}
	small{
		display: block;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}

}
