// convenience classes

.fourByFour{
	float: left;
	width: 50%;
}

// end convenience classes

.mainWrapper{
	@include outer-container;
	background: $sidebarBlue;
	nav{
		@include fill-parent;
		background: $navBlue;
		position: relative;
		padding: 1.2em;
		.navLogo{
			width: 90px;
			margin: 0 auto;
			@include media (max-width 740px){
				width: auto;
			}
			img{
				width: 80px;
				margin: 1.4em 0;
			}
		}
		.signUp{
			position: absolute;
			top: 15px;
			right: 30px;
			@include pillbutton;
			font-size: .85em;
			background: none;
			padding:0 1.7em;
			border: white 2px solid;
			color: white;

		}
		.signUp:hover{
			background: white;
			color: $blueText;
		}
		.pageNav{
			width: 75%;
			padding: 0;
			margin: 0 auto;
			@include media (max-width 740px){
				width: 100%;
			}
			ul{
			text-align: center;
				li{
					display: inline;
					color: white;
					margin: 0 1.5em;
					@include media (max-width 740px){
						display: block;
						text-align: left;
						margin: 0;
					}
				}
				a{
					color: white;
				}:hover{
					border-bottom: 1px white solid;
				}
			}
		}
	}
	.heroQuote{
		background: white;
		h1{
			color: gray;
			text-align: center;
			padding: 1.6em 5em;
			font-weight: 100;
			font-size:2.5em;
			@include media (max-width 740px){
				padding: 1.2em 2em;
			}
		}
	}

	.leftMain{
		// float: left;
		@include clearfix;
		@include span-columns(8 of 12, block-collapse);
		background: $bodyBlue;
		padding: 2.5em 2em;
		h2{
			font-weight:500;
			width: 70%;
			margin-bottom: 1.3em;
			color: $blueText;
			@include media (max-width 1010px){
				
				width: 100%;
				
			}
		}
			.topHalf{
				@include clearfix;
				margin-bottom: 4em;
				.leftImage{
					width: 50%;
					@include media (max-width 740px){
						display:none;
					}
				}
				.rightContent{
					width: 50%;
					padding: .2em 1.7em 0 0;
					@include media (max-width 740px){
						width:100%;
						padding: 0;
					}
					p{
						font-size: .9em;
						font-family: 'Arimo', sans-serif;
						font-weight: 400;
						line-height: 1.75em;
					}
				}
				
			}
			.bottomHalf{
				.leftContent{
					width: 52%;
					padding: 2.7em 1.7em 0 0.5em;
					@include media (max-width 740px){
						width: 100%;
						padding: 0;
					}
					p{
						font-size: .9em;
						font-family: 'Arimo', sans-serif;
						font-weight: 400;
						line-height: 1.75em;
					}
				
				}
				.rightImage{
					width: 48%;
					@include media (max-width 740px){
						display: none;
					}
				}
			}
		.seeMore{
			color: $blueText;
			font-size: .9em;
			font-family: 'Arimo', sans-serif;
			font-weight: 700;
		}
		@include media (max-width 1010px){
			float: none;
			width: 100%;
			display: block;
		}
	}	
	.rightSidebar{
		float: left;
		@include clearfix;
		@include span-columns(4 of 12, block-collaps);
		background: $sidebarBlue;
		padding: 2.5em 2em;
		h3{
			font-weight:500;
			width: 80%;
			margin-bottom: 1.3em;
			color: $blueText;
			@include media (max-width 1010px){
				
				width: 100%;
				display: block;
				
			}
		}
		p{
			width: 80%;
			font-size: .9em;
			font-family: 'Arimo', sans-serif;
			font-weight: 400;
			line-height: 1.75em;
			margin: 2.65em 0 ;
			@include media (max-width 1010px){
				
				width: 100%;
				display: block;
				
			}
		}
		.getStarted{
			@include pillbutton;
			border-radius: 25px;
			background: $blueText;
			border: 1px solid $blueText;
			padding: .2em 2.1em;
			font-size: 1.1em;
			color: white;
			font-weight: 300;
			-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.75);
			box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.75);
		}
		.getStarted:hover{
			background: white;
			border: 1px solid white;;
			color: $blueText;
		}
		@include media (max-width 1010px){
			float: none;
			width: 100%;
			display: block;
			text-align: center;
		}
	}

}
footer{
	@include outer-container;
	color: white;
	font-size: .9em;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	margin-top: 1.5em;
	margin-bottom: 24em;
	.footerLinks{
		margin-bottom: 1.5em;
		text-align: center;
			span{
				color: $blueText;
				font-weight: bold;
				margin:0 .7em;
			}
			li{
				display: inline;
			}
			a{
				color: white;
			}

	}
	small{
		display: block;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		font-size: .7em;
	}

}
